//
//
// BASE STYLE - a , h1 , input , table
//
//

@font-face {
font-family: 'cardenio-bold';
src: url('../fonts/cardenio-bold.eot'); 
src: url('../fonts/cardenio-bold.eot?#iefix') format('embedded-opentype'), 
url('../fonts/cardenio-bold.woff2') format('woff2'), 
url('../fonts/cardenio-bold.woff') format('woff'), 
url('../fonts/cardenio-bold.ttf')  format('truetype'), 
url('../fonts/cardenio-bold.svg#svgCardenioBold') format('svg'); 
}

@font-face {
font-family: 'cardenio-normal';
src: url('../fonts/cardenio-normal.eot'); 
src: url('../fonts/cardenio-normal.eot?#iefix') format('embedded-opentype'), 
url('../fonts/cardenio-normal.woff2') format('woff2'), 
url('../fonts/cardenio-normal.woff') format('woff'), 
url('../fonts/cardenio-normal.ttf')  format('truetype'), 
url('../fonts/cardenio-normal.svg#svgCardenioNormal') format('svg'); 
}

@font-face {
font-family: 'mbvinatage-bold';
src: url('../fonts/mb-vinatage-bold.eot'); 
src: url('../fonts/mb-vinatage-bold.eot?#iefix') format('embedded-opentype'), 
url('../fonts/mb-vinatage-bold.woff2') format('woff2'), 
url('../fonts/mb-vinatage-bold.woff') format('woff'), 
url('../fonts/mb-vinatage-bold.ttf')  format('truetype'), 
url('../fonts/mb-vinatage-bold.svg#svgMBVinatageBold') format('svg'); 
}

@font-face {
font-family: 'mbvinatage-medium';
src: url('../fonts/mb-vinatage-medium.eot'); 
src: url('../fonts/mb-vinatage-medium.eot?#iefix') format('embedded-opentype'), 
url('../fonts/mb-vinatage-medium.woff2') format('woff2'), 
url('../fonts/mb-vinatage-medium.woff') format('woff'), 
url('../fonts/mb-vinatage-medium.ttf')  format('truetype'), 
url('../fonts/mb-vinatage-medium.svg#svgMBVinatageMedium') format('svg'); 
}

@font-face {
font-family: 'mbvinatage-book';
src: url('../fonts/mb-vinatage-book.eot'); 
src: url('../fonts/mb-vinatage-book.eot?#iefix') format('embedded-opentype'), 
url('../fonts/mb-vinatage-book.woff2') format('woff2'), 
url('../fonts/mb-vinatage-book.woff') format('woff'), 
url('../fonts/mb-vinatage-book.ttf')  format('truetype'), 
url('../fonts/mb-vinatage-book.svg#svgMBVinatageBook') format('svg'); 
}

@font-face {
font-family: 'mbvinatage-heavy';
src: url('../fonts/mb-vinatage-heavy.eot'); 
src: url('../fonts/mb-vinatage-heavy.eot?#iefix') format('embedded-opentype'), 
url('../fonts/mb-vinatage-heavy.woff2') format('woff2'), 
url('../fonts/mb-vinatage-heavy.woff') format('woff'), 
url('../fonts/mb-vinatage-heavy.ttf')  format('truetype'), 
url('../fonts/mb-vinatage-heavy.svg#svgMBVinatageHeavy') format('svg'); 
}

body{
    font-family: 'mbvinatage-medium';
    background:url(../images-webp/bg-pmg.webp) repeat center center;
    -webkit-font-smoothing:antialiased;
    &.p{
        background: #669e79;
        background: -moz-linear-gradient(left, #669e79 0%, #84b494 50%, #7fb293 100%);
        background: -webkit-linear-gradient(left, #669e79 0%,#84b494 50%,#7fb293 100%);
        background: linear-gradient(to right, #669e79 0%,#84b494 50%,#7fb293 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#669e79', endColorstr='#7fb293',GradientType=1 );
    }
    &.m{
        background: #5f88c0;
        background: -moz-linear-gradient(left, #5f88c0 0%, #7297ce 50%, #7297ce 100%);
        background: -webkit-linear-gradient(left, #5f88c0 0%,#7297ce 50%,#7297ce 100%);
        background: linear-gradient(to right, #5f88c0 0%,#7297ce 50%,#7297ce 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f88c0', endColorstr='#7297ce',GradientType=1 );
    }
    &.g{
        background: #c89083;
        background: -moz-linear-gradient(left, #c89083 0%, #d1998c 50%, #cf958a 100%);
        background: -webkit-linear-gradient(left, #c89083 0%,#d1998c 50%,#cf958a 100%);
        background: linear-gradient(to right, #c89083 0%,#d1998c 50%,#cf958a 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c89083', endColorstr='#cf958a',GradientType=1 );
    }
}

.container{
    position: relative;
}