//
//
// BASE STYLE - a , h1 , input , table
//
//

@font-face {
font-family: 'cardenio-bold';
src: url('../fonts/cardenio-bold.eot'); 
src: url('../fonts/cardenio-bold.eot?#iefix') format('embedded-opentype'), 
url('../fonts/cardenio-bold.woff2') format('woff2'), 
url('../fonts/cardenio-bold.woff') format('woff'), 
url('../fonts/cardenio-bold.ttf')  format('truetype'), 
url('../fonts/cardenio-bold.svg#svgCardenioBold') format('svg'); 
}

@font-face {
font-family: 'cardenio-normal';
src: url('../fonts/cardenio-normal.eot'); 
src: url('../fonts/cardenio-normal.eot?#iefix') format('embedded-opentype'), 
url('../fonts/cardenio-normal.woff2') format('woff2'), 
url('../fonts/cardenio-normal.woff') format('woff'), 
url('../fonts/cardenio-normal.ttf')  format('truetype'), 
url('../fonts/cardenio-normal.svg#svgCardenioNormal') format('svg'); 
}

@font-face {
font-family: 'mbvinatage-bold';
src: url('../fonts/mb-vinatage-bold.eot'); 
src: url('../fonts/mb-vinatage-bold.eot?#iefix') format('embedded-opentype'), 
url('../fonts/mb-vinatage-bold.woff2') format('woff2'), 
url('../fonts/mb-vinatage-bold.woff') format('woff'), 
url('../fonts/mb-vinatage-bold.ttf')  format('truetype'), 
url('../fonts/mb-vinatage-bold.svg#svgMBVinatageBold') format('svg'); 
}

@font-face {
font-family: 'mbvinatage-medium';
src: url('../fonts/mb-vinatage-medium.eot'); 
src: url('../fonts/mb-vinatage-medium.eot?#iefix') format('embedded-opentype'), 
url('../fonts/mb-vinatage-medium.woff2') format('woff2'), 
url('../fonts/mb-vinatage-medium.woff') format('woff'), 
url('../fonts/mb-vinatage-medium.ttf')  format('truetype'), 
url('../fonts/mb-vinatage-medium.svg#svgMBVinatageMedium') format('svg'); 
}

@font-face {
font-family: 'mbvinatage-book';
src: url('../fonts/mb-vinatage-book.eot'); 
src: url('../fonts/mb-vinatage-book.eot?#iefix') format('embedded-opentype'), 
url('../fonts/mb-vinatage-book.woff2') format('woff2'), 
url('../fonts/mb-vinatage-book.woff') format('woff'), 
url('../fonts/mb-vinatage-book.ttf')  format('truetype'), 
url('../fonts/mb-vinatage-book.svg#svgMBVinatageBook') format('svg'); 
}

body{
    font-family: 'mbvinatage-medium';
    background:url(../images/bg-pmg.png) repeat center center;
    -webkit-font-smoothing:antialiased;
}

.container{
    position: relative;
}