//
//
// MODULE RESPONSIVE - .home , .home-banner , .home-content
//
//

@media(max-height:699px){
    .header img{
        height:120px;
    }
    .pmg_header {
        height: 450px;
        position: relative;
        z-index: 2;
    }
    .pmg_header .container {
        height: 100%;
        padding-top: 170px;
    }
    .pmg_header-letters{
        background-size: contain;
        height: 220px;
        bottom: -40px;
    }
    .pmg_form{
        padding-top:10vh;
    }
    .pmg_thankyou {
        margin-top: -80px;
    }
}

@media(max-height:599px){
    .header img{
        height:100px;
    }
    .pmg_header .container {
        height: 100%;
        padding-top: 140px;
    }
    .pmg_header {
        height: 370px;
        position: relative;
        z-index: 2;
    }
    .pmg_header-letters {
        background-size: contain;
        height: 180px;
        bottom: -40px;
    }
    .pmg_thankyou {
        margin-top: -40px;
    }
}

//--------------
//--------------
//--------------

@media(max-width:1279px){
    .pmg_header-letters{
        background-size: contain;
        width: 100%;
    }
    .pmg_form-call img {
        width: 125%;
        float: right;
    }
    .pmg_form-call {
        width: 46%;
        float: left;
        margin-bottom: 20px;
    }
    .pmg_form-content {
        width: 48%;
        float: left;
    }
    .pmg_columns-columns-column-value b {
        font-size: 22px;
    }
    .pmg_columns-columns-column-letter img {
        max-width: 100%;
        height: 160px;
        margin: 0px auto;
    }
    .pmg_form-content-whatsapp {
        float: left;
        font-size: 20px;
    }
    .letter_columns-columns-column-value b {
        font-size: 24px;
    }
}

@media(max-width:1023px){
    .pmg_header-title {
        text-align: center;
        text-transform: uppercase;
        font-size: 24px;
        font-family: 'mbvinatage-bold';
        color: #565656;
        font-weight: 400;
        line-height: 37px;
        margin: 0px;
        padding: 0px;
    }
    .pmg_header-subtitle {
        text-align: center;
        font-size: 24px;
        font-family: 'mbvinatage-medium';
        color: #fff;
        font-weight: 400;
        line-height: 37px;
        margin: 0px;
        padding: 0px;
    }
    .pmg_header-letters {
        background-size: contain;
        width: 100%;
        height: 180px;
        bottom:-30px;
    }
    .pmg_header .container {
        height: 100%;
        padding-top: 200px;
    }
    .pmg_header {
        height: 440px;
        position: relative;
        z-index: 2;
    }
    .pmg_form-call{
        height:200px;
        background:url(../images-webp/pmg-call-mobile.webp) no-repeat center center;
        background-size:contain;
        width:100%;
    }
    .pmg_form-call img{
        display: none;
    }
    .pmg_form-form{
        width:100%;
    }
    .pmg_form-content {
        width: 100%;
        float: left;
        text-align: center;
        margin-top: 40px;
    }
    .pmg_form-content-text{
        text-align: center;
    }
    .pmg_form-content-list {
        font-size: 20px;
        font-family: 'mbvinatage-bold';
        color: #565656;
        line-height: 30px;
        text-align: center;
        list-style: none;
        padding: 0px;
    }
    .pmg_form-content-obs {
        font-size: 16px;
        font-family: 'mbvinatage-medium';
        color: #565656;
        line-height: 30px;
        text-align: center;
    }
    .pmg_columns-columns-column-value b {
        font-size: 15px;
    }
    .pmg_columns-columns-column-value{
        margin-top:-12px;
    }
    .pmg_columns-columns-column-letter img{
        height:auto;
    }
    .pmg_overfooter-logo img{
        height:100px;
    }
    .pmg_overfooter-badges {
        position: absolute;
        left: 0px;
        top: 80px;
        width: 312px;
        height: 102px;
        background: url(../images-webp/badges.webp) no-repeat center center;
        background-size: contain;
        width: 200px;
    }
    .pmg_overfooter-links {
        position: absolute;
        left: 50%;
        margin-left: 130px;
        top: 100px;
    }
    .thankyou_header{
        margin-top:60px;
        overflow: hidden;
    }
    .pmg_thankyou {
        margin-top: -100px;
    }
    .letter_columns-columns-column-value b {
        font-size: 14px;
    }
    .letter_columns-columns-column-list-item{
        line-height: 100%;
        font-size:14px;
        &:first-child{
            margin-top:20px;
        }
    }
    .pmg_form-content-whatsapp{
        margin-left:0px;
        margin-right:0px;
        position: relative;
        left:50%;
        @include transform(translate(-50%,0%));
    }
    .letter_header .row{
        display: block;
    }
    .letter_header .col-6{
        width:100%;
        display: block;
        flex: 0%;
        max-width:100%;
        height:auto !important;
        text-align: center;
        img{
            position: relative;
            left:0px;
            top:0px;
            bottom:0px;
        }
    }
    .letter_header.p {
        background: url(../images-webp/bg-p.jpg) center bottom;
        background-size: auto 100vw;
        padding-top: 110vw;
        background-position: 27% 0%;
        height: auto;
        background-repeat: no-repeat;
    }
    .letter_header.m {
        background: url(../images-webp/bg-m.jpg) center bottom;
        background-size: auto 100vw;
        padding-top: 110vw;
        background-position: 27% 0%;
        height: auto;
        background-repeat: no-repeat;
    }
    .letter_header.g {
        background: url(../images-webp/bg-g.jpg) center bottom;
        background-size: auto 100vw;
        padding-top: 110vw;
        background-position: 27% 0%;
        height: auto;
        background-repeat: no-repeat;
    }
    .letter_header .container {
        height: auto;
        position: relative;
        overflow: hidden;
    }
}

@media(max-width:767px){
    .pmg_header .container {
        height: 100%;
        padding-top: 120px;
    }
    .pmg_header-title {
        text-align: center;
        text-transform: uppercase;
        font-size: 16px;
        font-family: 'mbvinatage-bold';
        color: #565656;
        font-weight: 400;
        line-height: 24px;
        margin: 0px;
        padding: 0px 10px;
    }
    .pmg_header-subtitle {
        text-align: center;
        font-size: 16px;
        font-family: 'mbvinatage-medium';
        color: #fff;
        font-weight: 400;
        line-height: 22px;
        margin: 0px;
        padding: 0px 40px;
    }
    .pmg_header {
        height: 300px;
        position: relative;
        z-index: 2;
    }
    .pmg_header-letters {
        background-size: contain;
        width: 100%;
        height: 180px;
        bottom: -60px;
    }
    .pmg_form-form-title {
        color: #565656;
        font-size: 18px;
        letter-spacing: -0.2px;
        text-transform: uppercase;
        font-family: 'mbvinatage-bold';
        margin-bottom: 6px;
        text-align: center;
    }
    .pmg_form-form-subtitle {
        color: #848484;
        font-size: 16px;
        line-height: 120%;
        font-family: 'mbvinatage-medium';
        margin-bottom: 10px;
        text-align: center;
    }
    .pmg_form-form input, .pmg_form-form select {
        width: 100%;
        height: 40px;
        -webkit-appearance: none;
        -moz-appeareance: none;
        margin-bottom: 10px;
        border: 0px;
        padding-left: 15px;
        font-family: helvetica;
        font-family: 'mbvinatage-medium';
        font-size: 12px;
    }
    .pmg_form-form button {
        font-size: 14px;
        letter-spacing: 3px;
    }
    .pmg_form-content {
        width: 100%;
        float: left;
        text-align: center;
        margin-top: 20px;
        padding: 0px 20px;
    }
    .pmg_form-content-text {
        font-size: 16px;
        font-family: 'mbvinatage-book';
        color: #fff;
        text-transform: uppercase;
        line-height: 140%;
        margin-bottom: 40px;
    }
    .pmg_form-content-list {
        font-size: 14px;
        font-family: 'mbvinatage-bold';
        color: #565656;
        line-height: 22px;
        text-align: center;
        list-style: none;
        padding: 0px;
        margin-top: -20px;
    }
    .pmg_form{
        padding:20px 0px;
    }
    .pmg_columns-title {
        font-size: 14px;
        color: #565656;
        text-transform: uppercase;
        line-height: 140%;
        text-align: center;
        font-family: 'mbvinatage-bold';
        margin-top: 30px;
    }
    .pmg_columns-subtitle {
        font-size: 14px;
        color: #ffffff;
        line-height: 100%;
        text-align: center;
        font-family: 'mbvinatage-medium';
        margin-top: 10px;
        margin-bottom: 40px;
    }
    .pmg_columns-columns-column-value b {
        font-size: 22px;
    }
    .pmg_columns-columns{
        padding:0px 20px;
        margin-bottom:0px;
    }
    .pmg_columns-columns-column{
        margin-bottom:20px;
        height:auto;
        padding-bottom:100px;
    }
    .pmg_faq-title {
        font-size: 20px;
        font-family: 'mbvinatage-bold';
        color: #565656;
        text-transform: uppercase;
        line-height: 1.375;
        text-align: center;
        margin-bottom: 10px;
        margin-top: -30px;
    }
    .pmg_faq-search {
        padding:0px 20px;
    }
    .pmg_faq-questions-item-question {
        padding: 20px;
        padding-bottom: 16px;
        padding-left: 50px;
        padding-right: 30px;
        font-size: 12px;
        font-family: 'mbvinatage-bold';
        color: #565656;
        text-transform: uppercase;
        line-height: 120%;
        text-align: left;
        position: relative;
        cursor: pointer;
    }
    .pmg_faq-questions{
        padding:0px 20px;
    }
    .pmg_faq-questions-item-answer {
        padding: 20px;
        padding-left: 50px;
        padding-right: 30px;
        border-top: 1px solid #c8c8c8;
        font-size: 12px;
        font-family: 'mbvinatage-medium';
        color: #565656;
        line-height: 1.44;
        text-align: left;
        display: none;
    }
    .pmg_faq-link {
        font-size: 13.685px;
        color: #565656;
        font-family: 'mbvinatage-bold';
        text-transform: uppercase;
        line-height: 3.304;
        display: block;
        max-width: 290px;
        text-align: center;
        border: 2px solid #565656;
        height: 40px;
        line-height: 40px;
        margin: 0px auto;
        text-decoration: none;
        letter-spacing: 1px;
    }
    .pmg_faq-still_in_doubt {
        font-size: 16px;
        font-family: 'mbvinatage-medium';
        color: #fff;
        text-transform: uppercase;
        line-height: 1.833;
        text-align: center;
        margin-top: 30px;
    }
    .pmg_overfooter .container,.pmg_overfooter {
        height: auto;
    }
    .pmg_overfooter{
        padding:0px 20px;
        .container{
            padding-bottom:100px;
        }
    }
    .pmg_overfooter-badges{
        position: relative;
        width:80%;
        margin:0px auto;
        margin-top:20px;
        left:0px;
        top:0px;
    }
    .pmg_overfooter-links{
        position: relative;
        left:0px;
        right:0px;
        top:0px;
        width: 100%;
        text-align: center;
        margin:0px;
        margin-bottom:20px;
        margin-top:10px;
        a{
            text-align: center;
            width:100%;
        }
    }
    .pmg_footer {
        height: 80px;
        background: #494949;
        font-size: 12px;
        font-family: 'mbvinatage-bold';
        color: #989898;
        text-transform: uppercase;
        line-height: 160%;
        text-align: center;
        padding-top: 10px;
        padding: 16px 30px;
    }
    .pmg_form-call {
        height: 200px;
        background: url(../images-webp/pmg-call-mobile.webp) no-repeat center center;
        background-size: contain;
        width: 100%;
        margin-top: 10px;
    }
    .header img {
        height: 80px;
    }
    .pmg_text_content{
        padding:0px 20px;
    }
    .pmg_text_content h1 {
        font-size: 28px;
    }
    .pmg_text_content p {
        font-family: 'mbvinatage-medium';
        font-weight: 400;
        color: #565656;
        font-size: 16px;
        margin-bottom: 20px;
        line-height: 150%;
    }
    .pmg_text_content h2 {
        font-size: 20px;
        margin-top: 40px;
    }
    .header-back_link {
        position: absolute;
        right: 50%;
        top: 0px;
        height: 50px;
        border: 2px solid #505050;
        color: #505050;
        background: url(../images-webp/icon-back.webp) no-repeat 15px center;
        font-size: 20px;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-family: 'mbvinatage-bold';
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        border-radius: 10px;
        line-height: 50px;
        text-decoration: none;
        padding-left: 40px;
        padding-right: 20px;
        margin-top: 110px;
        transform: translate(50%,0%) scale(0.7);
    }
    .pmg_text_content h3 {
        font-size: 22px;
        margin-top: 40px;
        font-family: 'mbvinatage-bold';
    }
    .pmg_header-letters.thankyou {
        background-size: contain;
        width: 700px;
        bottom: auto;
        top: 60px;
        left: 51%;
        height: 100px;
    }
    .pmg_thankyou-title {
        color: #565656;
        font-size: 22px;
        font-family: 'mbvinatage-bold';
        text-align: center;
        margin-bottom: 10px;
        padding: 0px 20px;
    }
    .pmg_thankyou-subtitle {
        color: #ffffff;
        font-size: 18px;
        font-family: 'mbvinatage-book';
        text-align: center;
        margin-bottom: 40px;
        padding: 0px 20px;
    }
    .pmg_banner {
        height: auto;
    }
    .pmg_banner-know {
        font-size: 18px;
        font-family: 'mbvinatage-bold';
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 50px;
        text-decoration: none;
        letter-spacing: 2px;
        text-align: left;
        width: 210px;
        height: 50px;
        border: 2px solid rgba(255,255,255,0.5);
        display: block;
        margin: 0px auto;
        text-align: center;
        margin-top: 20px;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
    }
    .pmg_banner-call {
        font-size: 14px;
        font-family: 'mbvinatage-medium';
        color: 2px solid rgba(255,255,255,0.5);
        text-transform: uppercase;
        line-height: 2.034;
        text-align: center;
        margin-bottom: 30px;
    }
    .pmg_banner-title {
        font-size: 16px;
        font-family: 'mbvinatage-bold';
        color: #fff;
        text-transform: uppercase;
        line-height: 1.231;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 10px;
    }
    .letter_columns-columns {
        margin-bottom: -50px;
        padding: 0px 20px;
    }
    .letter_columns-columns-column{
        margin-bottom:20px;
        height:auto;
    }
    .letter_columns-columns-column-list-item {
        font-size: 12px;
    }
    .letter_columns-columns-column-value b {
        font-size: 22px;
    }
    .letter_columns-title {
        font-size: 14px;
        color: #fff;
        text-transform: uppercase;
        line-height: 140%;
        text-align: center;
        font-family: 'mbvinatage-bold';
        margin-top: -25px;
    }
    .letter_columns-title {
        font-size: 14px;
        color: #fff;
        text-transform: uppercase;
        line-height: 140%;
        text-align: center;
        font-family: 'mbvinatage-bold';
        margin-top: -25px;
    }
    .letter_columns-subtitle {
        font-size: 12px;
        color: #ffffff;
        line-height: 100%;
        text-align: center;
        font-family: 'mbvinatage-medium';
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .pmg_form-content-whatsapp {
        float: left;
        font-size: 10px;
        font-family: 'mbvinatage-bold';
        color: #fff;
        text-transform: uppercase;
        line-height: 1.5;
        text-align: right;
        background: url(../images-webp/icon-whatsapp.webp) no-repeat right center;
        background-size: auto 60%;
        padding-bottom: 20px;
        padding-top: 20px;
        display: block;
        padding-right: 60px;
        margin-left: 0px;
        text-decoration: none;
        margin-top: 20px;
        position: relative;
        cursor: pointer;
        left: 50%;
        transform: translate(-50%,0%);
    }
    .letter_header .row{
        display: block;
    }
    .letter_header .col-6{
        width:100%;
        display: block;
        flex: 0%;
        max-width:100%;
        height:auto !important;
        text-align: center;
        img{
            position: relative;
            left:0px;
            top:0px;
            bottom:0px;
        }
    }
    .letter_header.p {
        background: url(../images-webp/bg-p.jpg) center bottom;
        background-size: auto 100vw;
        padding-top: 110vw;
        background-position: 27% 0%;
        height: auto;
        background-repeat: no-repeat;
    }
    .letter_header.m {
        background: url(../images-webp/bg-m.jpg) center bottom;
        background-size: auto 100vw;
        padding-top: 110vw;
        background-position: 27% 0%;
        height: auto;
        background-repeat: no-repeat;
    }
    .letter_header.g {
        background: url(../images-webp/bg-g.jpg) center bottom;
        background-size: auto 100vw;
        padding-top: 110vw;
        background-position: 27% 0%;
        height: auto;
        background-repeat: no-repeat;
    }
    .letter_header .container {
        height: auto;
        position: relative;
        overflow: hidden;
    }
    .pmg_form .container{
        padding:0px 20px;
    }
    .pmg_form-content{
        padding:0px;
    }
    .pmg_form-content-text {
        font-size: 14px;
    }
    .pmg_form-content-text{
        br{
        }
    }
}