//
// HOME
//

//SECTION-HERO
.section-hero{
    background:url(../images/background-hero.jpg) no-repeat center center;
    background-size:cover;
}

//SECTION-ABOUT
.section-about{

}

//SECTION-ADVANTAGES
.section-advantages{
    background: linear-gradient(90deg, #00C8FF 0%, #0B08FF 100%);
    mix-blend-mode: normal;
}

//SECTION-CONTACT
.section-contact{

}