@import "vendor/normalize.scss";
@import "vendor/swiper.scss";
@import "vendor/aos.scss";
@import "vendor/grid.scss";

*,
*:before,
*:after {
    box-sizing: border-box;
    transition: 1s ease-in-out;
}

body,
html {
    min-height: 100%;
}

body {
    font-family: "Reddit Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
    background: #000;
    color: #fff;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: #fff;
    }

    &::-webkit-scrollbar-thumb {
        background: #000;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #000;
    }

    &:before {
        content: '';
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        box-shadow: inset 0px 0px 100px rgba(0, 0, 0, 0.1);
        z-index: 999;
        pointer-events: none;
    }
}

p,
h1,
h2,
h3 {
    margin: 0px;
    padding: 0px;
}

p {
    font-size: 18px;
    line-height: 140%;
    font-weight: 200;
    margin-bottom: 24px;

    b {
        font-weight: 700;
    }

    &:last-child{
        margin-bottom: 0px;
    }
}

h1 {
    font-size: 32px;
    line-height: 120%;
    color: #fff;
    font-weight: 200;
    margin-bottom: 24px;

    b {
        font-weight: 700;
    }
}

h2 {
    font-size: 32px;
    line-height: 120%;
    color: #fff;
    font-weight: 200;
    margin-bottom: 24px;

    b {
        font-weight: 700;
    }
}

.header {
    .container {
        padding-top: 24px;
        padding-bottom: 24px;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            left: 50%;
            bottom: 0px;
            width: calc(50% + 40px);
            height: 100%;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            border-right: 1px solid rgba(255, 255, 255, 0.2);
            border-radius: 0px 0px 32px 0px;
            filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 1));
            pointer-events: none;
        }
    }

    .col-12 {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        text-decoration: none;
        color: #fff;
        font-weight: 200;
        font-size: 48px;
        line-height: 100%;

        b {
            font-weight: 700;
        }
    }

    &__social {
        display: flex;
        gap: 24px;

        a {
            text-decoration: none;
            display: block;
            cursor: pointer;
            width: 48px;
            height: 48px;

            img {
                width: 100%;
                height: auto;
                filter: invert(1);
            }
        }
    }
}

.hero {
    margin-top: -1px;

    .container {
        padding-top: 120px;
        padding-bottom: 120px;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            right: 50%;
            bottom: 0px;
            width: calc(50% + 40px);
            height: 100%;
            border-top: 1px solid rgba(255, 255, 255, 0.2);
            border-left: 1px solid rgba(255, 255, 255, 0.2);
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            border-radius: 32px 0px 0px 32px;
            filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 1));
            pointer-events: none;
        }
    }

    &__card {
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
        padding: 48px;
        background:#000;

        &:before {
            content: '';
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.5);
            background: url(../images/background-1.jpg) no-repeat center center;
            background-size: cover;
            filter: blur(100px);
        }

        &:after {
            content: '';
            display: block;
            position: relative;
            width: 100%;
            height: auto;
            aspect-ratio: 1/1;
            background: url(../images/background-1.jpg) no-repeat center center;
            background-size: cover;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
        }
        & > img{
            position: absolute;
            right:0px;
            bottom:0px;
            z-index:10;
            width:200px;
            height:auto;
        }
    }
}

.tech {
    margin-top: -1px;

    .container {
        padding-top: 120px;
        padding-bottom: 120px;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            left: 50%;
            bottom: 0px;
            width: calc(50% + 40px);
            height: 100%;
            border-top: 1px solid rgba(255, 255, 255, 0.2);
            border-right: 1px solid rgba(255, 255, 255, 0.2);
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            border-radius: 0px 32px 32px 0px;
            filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 1));
            pointer-events: none;
        }
    }

    &__cards {
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
        display: flex;
        flex-flow: wrap;
        background:#000;
        perspective: 500px; /* Adicionando perspectiva */
        gap:10px;

        &>div {
            flex: 1;
            min-width: 30%;
            min-height: 30%;
            position: relative;
            transform-style: preserve-3d; /* Mantém a transformação 3D */
            transition:0.5s ease-in-out;
            filter:drop-shadow(0px 0px 10px rgba(0,0,0,0));
            aspect-ratio: 1 / 1;


            div:first-child,
            div:last-child {
                width: 100%;
                height: 100%;
                position: absolute;
                backface-visibility: hidden;
                transition: transform 0.6s ease;
            }

            div:first-child {
                background-color: #000;
                border:1px solid rgba(255, 255, 255, 0.2);
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius:10px;
                img{
                    width:80px;
                    height:80px;
                }
            }

            div:last-child {
                background-color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                transform: rotateY(180deg);
                color:#000;
                padding:20px;
                font-size: 14px;
                line-height: 120%;
                flex-direction: column;
                gap:10px;
                text-align: left;
                align-items: flex-start;
                overflow: hidden;
                position: relative;
                border-radius:10px;
                @media(max-width:767px){
                    font-size: 10px;
                    padding:10px;
                }
            }

            &:hover {
                z-index:2;
                transform: scale(1.2);
                filter:drop-shadow(0px 0px 10px rgba(0,0,0,0.5));
                div:first-child {
                    transform: rotateY(180deg);
                }

                div:last-child {
                    transform: rotateY(0deg);
                }
            }
        }
    }
}

.design {
    margin-top: -1px;

    .container {
        padding-top: 120px;
        padding-bottom: 120px;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            right: 50%;
            bottom: 0px;
            width: calc(50% + 40px);
            height: 100%;
            border-top: 1px solid rgba(255, 255, 255, 0.2);
            border-left: 1px solid rgba(255, 255, 255, 0.2);
            border-radius: 32px 0px 0px 0px;
            filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 1));
            pointer-events: none;
        }
    }

    &__card {
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
        padding: 48px;
        background:#000;

        &:before {
            content: '';
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.5);
            background: url(../images/figma.webp) no-repeat center center;
            background-size: cover;
            filter: blur(100px);
            opacity:0.2;
        }

        &:after {
            content: '';
            display: block;
            position: relative;
            width: 100%;
            height: auto;
            aspect-ratio: 1/1;
            background: url(../images/figma.webp) no-repeat center center;
            background-size: cover;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
        }
        & > img{
            position: absolute;
            right:-20px;
            bottom:-20px;
            z-index:10;
            width:200px;
            height:auto;
            filter:drop-shadow(0px 0px 10px rgba(0,0,0,0.5));
        }
    }
}

.footer{
    background:#fff;
    padding:120px 0px;
    overflow: hidden;
    h2,p{
        color:#000;
        font-weight: 300;
    }
    a{
        display: inline-flex;
        gap:10px;
        align-items: center;
        padding:10px 24px;
        border:1px solid #000;
        color:#fff;
        font-weight: 700;
        border-radius:100px;
        text-decoration: none;
        background:#000;
        position: relative;
        img{
            width:24px;
            height:24px;
            filter:invert(1);
        }
        &:before{
            content:'';
            position: absolute;
            right: 100%;
            bottom: 50%;
            width:56px;
            height: 500px;
            border-left: 1px solid #000;
            border-bottom: 1px solid #000;
            border-radius: 0px 0px 0px 32px;
            pointer-events: none;
        }
    }
}

@media(max-width:1199px){
    .header .container:before,.hero .container:before,.tech .container:before,.design .container:before{
        width: calc(50% + 20px);
    }
    .footer a:before{
        width:36px;
    }
}

@media(max-width:991px){
    section{
        .container{
            padding-top:80px !important;
            padding-bottom:80px !important;
        }
    }
    .hero__card,.design__card{
        aspect-ratio: 2 / 1;
        padding-left:0px;
        &:after{
            aspect-ratio: none;
            height:100%;
        }
    }
    .tech__cards{
        margin-top: 48px;
    }
}

@media(max-width:767px){
    .header__logo {
        font-size: 24px;
        line-height: 100%;
    }
    .header__social {
        display: flex;
        gap: 20px;
    }
    .header__social a{
        width:24px;
        height:24px;
    }
    .header .container:before,.hero .container:before,.tech .container:before,.design .container:before{
        position: absolute;
        border-radius:0px;
        border:0px;
        border-left:1px solid #fff;
        left:2px;
        top:0px;
        height:100%;
        transform: none;
        box-shadow: none;
        filter:none;
    }
    .footer a:before{
        width:14px;
    }
    h1{
        font-size: 24px;
    }
    h2{
        font-size: 24px;
    }
    p{
        font-size: 14px;
    }
    .hero__card,.design__card{
        aspect-ratio: 1 / 1;
        padding-left:0px;
        padding-right:0px;
        padding-bottom:0px;
        &:after{
            aspect-ratio: none;
            height:100%;
        }
        img{
            display: none;
        }
    }
    section{
        .container{
            padding-top:40px !important;
            padding-bottom:40px !important;
        }
    }
    .footer{
        padding-top:40px !important;
        padding-bottom:40px !important;
    }
}