/*
 *
 * STYLE
 *
 */

*{
	box-sizing: border-box;
}
.menu{
	float:left;
	width:100%;
	border-bottom:1px solid #000;
	padding:20px;
}
.center{
	width:1000px;
	margin:0px auto;
}
.content{
	float:left;
	width:100%;
	padding:20px;
}