/*
 *
 * MIXINS
 *
 */


@mixin border-radius($radius) {

  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;

}

@mixin box-shadow($shadow) {

  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
      -ms-box-shadow: $shadow;
          box-shadow: $shadow;

}

@mixin text-shadow($shadow) {

  -webkit-text-shadow: $shadow;
     -moz-text-shadow: $shadow;
      -ms-text-shadow: $shadow;
          text-shadow: $shadow;

}

@mixin transition($transition) {

  -webkit-transition: $transition;
     -moz-transition: $transition;
      -ms-transition: $transition;
          transition: $transition;

}

@mixin transform($transform) {

  -webkit-transform: $transform;
     -moz-transform: $transform;
      -ms-transform: $transform;
          transform: $transform;

}

@mixin opacity($opacity) {

    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8

}

@mixin full_box() {

    float:left;
    width:100%;
    position:relative;
    display: block;

}